body{
    background-color: rgba(0, 0, 0, 0.815);
   width: 99%; 
   height: 100%;
  
}


nav{
background-color: rgb(255, 184, 5);
border-radius: 50px;
align-items: center;
text-transform: uppercase;
height: 60px;
justify-content: center;
display: flex;}




.nav1{text-decoration: none;
font-size: 35px;
margin: 45px;
color: snow;}

    
   
.img22{
    width: 500px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    margin-top: 30px;
    border-radius: 50px;

}




.nav1:hover{
font-weight: bolder;
font-style:oblique;
font-family:Georgia, 'Times New Roman', Times, serif ;
color:rgb(0, 0, 0) ;
}



.div1{color: rgb(255, 184, 5);
align-items:center;
justify-content: center;
display:flex;}


        .div2{align-items: center;
        justify-content: center;
        display: flex;
        color:rgb(255, 184, 5);
        height: auto;
        width: 1700px; 
        font-family:'Times New Roman', Times, serif;}


        
        .p2{color: rgb(255, 184, 5);
        display: flex;
        justify-content: center;
        align-items: center;}

        .div3{align-items: center;
            justify-content: center;
            display: flex;
            color:rgb(255, 184, 5);
            height: auto;
            width: 1800px; 
            font-family:'Times New Roman', Times, serif;}

        .rsm1{ width: 1100px;
            height: 700px;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
            margin: auto;
            margin-top: 30px;
            border-radius: 50px;
           
        }
        .div4{align-items: center;
            justify-content: center;
            display: flex;
            color:rgb(255, 184, 5);
            height: auto;
            width: 1800px; 
            font-family:'Times New Roman', Times, serif;}
            .img4{width: 1100px;
                height: 700px;
                display: flex;
                align-items: center;
                justify-content: center;
                justify-items: center;
                margin: auto;
                margin-top: 30px;
                border-radius: 50px;}

                .div5{align-items: center;
                    justify-content: center;
                    display: flex;
                    color:rgb(255, 184, 5);
                    height: auto;
                    width: 1800px; 
                    font-family:'Times New Roman', Times, serif;}
                
                .img5{width: 400px;
                    height: 700px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    justify-items: center;
                    margin: auto;
                    margin-top: 30px;
                    border-radius: 50px;}
                    .div6{align-items: center;
                        justify-content: center;
                        display: flex;
                        color:rgb(255, 184, 5);
                        height: auto;
                        width: 1800px; 
                        font-family:'Times New Roman', Times, serif;}




                        .img10{
                           display: inline-flex;
                           margin-left: 200px;
                        margin-top: 50px;
                            justify-content: center;
                         align-items: center;
                        flex-wrap: wrap;
                        width: 1500px;
                        height: 700px;
                        border-radius: 100px;
                        }



    footer{color: snow;
    align-items: center;
justify-content: center;
display: flex;
background-color: rgb(255, 184, 5);
font-weight: bolder;}
.a1{text-decoration: none;
}
.a1:hover{font-weight: bolder;
    font-style:oblique;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    color:black ;
    }








